// ------ 常用 css动画 ------ //
// 导入变量
@import url('./var.less');


// 闪烁
@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.shine {
    animation-name: shine;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}




// 旋转
@keyframes rotate-ani {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
.rotate-ani {
    animation-name: rotate-ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// ------- 向右旋转 ------//
// xs
@keyframes rotate-right-ani-xs {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(var(--rotate-xs));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.rotate-right-ani-xs {
    animation-name: rotate-right-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes rotate-right-ani-sm {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(var(--rotate-sm));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.rotate-right-ani-sm {
    animation-name: rotate-right-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes rotate-right-ani-md {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(var(--rotate-md));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.rotate-right-ani-md {
    animation-name: rotate-right-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes rotate-right-ani-lg {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(var(--rotate-lg));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.rotate-right-ani-lg {
    animation-name: rotate-right-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// ------ 向左旋转 ------//
// xs
@keyframes -rotate-right-ani-xs {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(calc(-1 * var(--rotate-xs)));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.-rotate-right-ani-xs {
    animation-name: -rotate-right-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes -rotate-right-ani-sm {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(calc(-1 * var(--rotate-sm)));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.-rotate-right-ani-sm {
    animation-name: -rotate-right-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes -rotate-right-ani-md {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(calc(-1 * var(--rotate-md)));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.-rotate-right-ani-md {
    animation-name: -rotate-right-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes -rotate-right-ani-lg {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(calc(-1 * var(--rotate-lg)));
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.-rotate-right-ani-lg {
    animation-name: -rotate-right-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// ----- 旋转 + 放大 + 透明度变化 ---- //
@keyframes rotate-scale-ani {
    0% {
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        opacity: 0.6;
    }

    50% {
        transform: rotateZ(360deg) scale3d(var(--enlarge-scale-xs), var(--enlarge-scale-xs), var(--enlarge-scale-xs));
        opacity: 1;
    }

    100% {
        transform: rotateZ(360deg) scale3d(1, 1, 1);
        opacity: 0.6;
    }
}
.rotate-scale-ani {
    animation-name: rotate-scale-ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// ----- 向上浮动动画 -----//
// xs
@keyframes float-y-ani-xs {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, var(--translate-xs), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-y-ani-xs {
    animation-name: float-y-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes float-y-ani-sm {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, var(--translate-sm), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-y-ani-sm {
    animation-name: float-y-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes float-y-ani-md {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, var(--translate-md), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-y-ani-md {
    animation-name: float-y-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes float-y-ani-lg {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, var(--translate-lg), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-y-ani-lg {
    animation-name: float-y-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// ----- 向下浮动动画 -----//
// xs
@keyframes -float-y-ani-xs {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, calc(-1 * var(--translate-xs)), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-y-ani-xs {
    animation-name: -float-y-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes -float-y-ani-sm {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, calc(-1 * var(--translate-sm)), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-y-ani-sm {
    animation-name: -float-y-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes -float-y-ani-md {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, calc(-1 * var(--translate-md)), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-y-ani-md {
    animation-name: -float-y-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes -float-y-ani-lg {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, calc(-1 * var(--translate-lg)), 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-y-ani-lg {
    animation-name: -float-y-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// ----- 向右浮动动画 -----//
// xs
@keyframes float-x-ani-xs {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(var(--translate-xs), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-x-ani-xs {
    animation-name: float-x-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes float-x-ani-sm {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(var(--translate-sm), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-x-ani-sm {
    animation-name: float-x-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes float-x-ani-md {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(var(--translate-md), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-x-ani-md {
    animation-name: float-x-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes float-x-ani-lg {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(var(--translate-lg), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float-x-ani-lg {
    animation-name: float-x-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// ----- 向左浮动动画 -----//
// xs
@keyframes -float-x-ani-xs {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(calc(-1 * var(--translate-xs)), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-x-ani-xs {
    animation-name: -float-x-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes -float-x-ani-sm {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(calc(-1 * var(--translate-sm)), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-x-ani-sm {
    animation-name: -float-x-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes -float-x-ani-md {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(calc(-1 * var(--translate-md)), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-x-ani-md {
    animation-name: -float-x-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes -float-x-ani-lg {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(calc(-1 * var(--translate-lg)), 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.-float-x-ani-lg {
    animation-name: -float-x-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}





// ------- 圆周运动 ------ //
@keyframes cricular-ani {
    0% {
        transform: rotate(0) translateX(5px) rotate(0);
    }

    100% {
        transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}

.cricular-ani {
    animation-name: cricular-ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// --------- 放大动画 ------ //
// xs
@keyframes enlarge-ani-xs {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--enlarge-scale-xs), var(--enlarge-scale-xs), var(--enlarge-scale-xs));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.enlarge-ani-xs {
    animation-name: enlarge-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes enlarge-ani-sm {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--enlarge-scale-sm), var(--enlarge-scale-sm), var(--enlarge-scale-sm));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.enlarge-ani-sm {
    animation-name: enlarge-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes enlarge-ani-md {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--enlarge-scale-md), var(--enlarge-scale-md), var(--enlarge-scale-md));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.enlarge-ani-md {
    animation-name: enlarge-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes enlarge-ani-lg {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--enlarge-scale-lg), var(--enlarge-scale-lg), var(--enlarge-scale-lg));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.enlarge-ani-lg {
    animation-name: enlarge-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// --------- 缩小动画 ------ //
// xs
@keyframes reduce-ani-xs {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--reduce-scale-xs), var(--reduce-scale-xs), var(--reduce-scale-xs));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.reduce-ani-xs {
    animation-name: reduce-ani-xs;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// sm
@keyframes reduce-ani-sm {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--reduce-scale-sm), var(--reduce-scale-sm), var(--reduce-scale-sm));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.reduce-ani-sm {
    animation-name: reduce-ani-sm;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// md
@keyframes reduce-ani-md {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--reduce-scale-md), var(--reduce-scale-md), var(--reduce-scale-md));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.reduce-ani-md {
    animation-name: reduce-ani-md;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
// lg
@keyframes reduce-ani-lg {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(var(--reduce-scale-lg), var(--reduce-scale-lg), var(--reduce-scale-lg));
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.reduce-ani-lg {
    animation-name: reduce-ani-lg;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}




// ----- 向下震动动画 ------ //
@keyframes bounce-ani {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0) scale3d(1, 1, 1);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scale3d(1, 1, 1);
    }

    90% {
        transform: translate3d(0, -4px, 0) scale3d(1, 1, 1);
    }
}

.bounce-ani {
    animation-name: bounce-ani;
    animation-iteration-count: infinite;
}


// ------ svg动画 ---- //
@keyframes svg-line-ani {
    0% {
        stroke-dasharray: 0 1000;
    }

    100% {
        stroke-dasharray: 1000 0;
    }
}
.svg-line-ani {
    animation-name: svg-line-ani;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


// -------- 向上淡入 ------ //
@keyframes fade-in-up-ani {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        -ms-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fade-in-up-ani {
    -webkit-animation-name: fade-in-up-ani;
    animation-name: fade-in-up-ani;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}



// 延迟
.ani-delay-500 {
    animation-delay: 500ms;
}
.ani-delay-1000 {
    animation-delay: 1000ms;
}
.ani-delay-1500 {
    animation-delay: 1500ms;
}

.ani-delay-2000 {
    animation-delay: 2000ms;
}

.ani-delay-2500 {
    animation-delay: 2500ms;
}

.ani-delay-3000 {
    animation-delay: 3000ms;
}



// 动画时间
.ani-time-150 {
    animation-duration: 150ms;
}

.ani-time-300 {
    animation-duration: 300ms;
}

.ani-time-350 {
    animation-duration: 350ms;
}

.ani-time-500 {
    animation-duration: 500ms;
}

.ani-time-750 {
    animation-duration: 750ms;
}

.ani-time-1000 {
    animation-duration: 1000ms;
}

.ani-time-1500 {
    animation-duration: 1500ms;
}

.ani-time-2000 {
    animation-duration: 2000ms;
}
.ani-time-2500 {
    animation-duration: 2500ms;
}

.ani-time-3000 {
    animation-duration: 3000ms;
}
.ani-time-3500 {
    animation-duration: 3500ms;
}

.ani-time-4000 {
    animation-duration: 4000ms;
}
.ani-time-4500 {
    animation-duration: 4500ms;
}
.ani-time-5000 {
    animation-duration: 5000ms;
}



// 暂停
.ani-paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
// 动画保留最后一帧
// .ani-forwards {
//     animation-iteration-count: 1;
//     -webkit-animation-iteration-count: 1;
//     animation-fill-mode: forwards;
//     -webkit-animation-fill-mode: forwards;
// }