// ------ 常用 css动画 ------ //

// 闪烁
@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.shine {
    animation-name: shine;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}




// 旋转
@keyframes rotate_ani {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
.rotate_ani {
    animation-name: rotate_ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



// 向右旋转15deg
@keyframes rotate_left_15 {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(15deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.rotate_left_15 {
    animation-name: rotate_left_15;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

// 向左旋转15deg
@keyframes rotate_left_15 {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(-15deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
.-rotate_left_15 {
    animation-name: rotate_left_15;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// icon动画
@keyframes loading_icon_ani {
    0% {
        transform: rotateZ(0deg) scale3d(1, 1, 1);
        opacity: 0.6;
    }

    50% {
        transform: rotateZ(360deg) scale3d(1.2, 1.2, 1.2);
        opacity: 1;
    }

    100% {
        transform: rotateZ(360deg) scale3d(1, 1, 1);
        opacity: 0.6;
    }
}
.loading_icon_ani {
    animation-name: loading_icon_ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}




// 向上浮动动画
@keyframes float_ani_10 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -10%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float_ani_10 {
    animation-name: float_ani_10;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes float_ani_20 {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -20%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}
.float_ani_20 {
    animation-name: float_ani_20;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// 圆周运动
@keyframes around_ani {
    0% {
        transform: rotate(0) translateX(5px) rotate(0);
    }

    100% {
        transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}

.around_ani {
    animation-name: around_ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// 放大缩小
@keyframes scale_ani {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.scale_ani {
    animation-name: scale_ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


// 向下震动动画
@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0) scale3d(1, 1, 1);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scale3d(1, 1, 1);
    }

    90% {
        transform: translate3d(0, -4px, 0) scale3d(1, 1, 1);
    }
}

.bounce {
    animation-name: bounce;
    animation-iteration-count: infinite;
}


// svg动画
.loading_circle_ani {
    animation-name: loading_circle_ani;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes loading_circle_ani {
    0% {
        stroke-dasharray: 0 1000;
    }

    100% {
        stroke-dasharray: 1000 0;
    }
}


// 向上淡入
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        -ms-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}



// 延迟
.delay500 {
    animation-delay: 500ms;
}
.delay1000 {
    animation-delay: 1000ms;
}
.delay1500 {
    animation-delay: 1500ms;
}

.delay2000 {
    animation-delay: 2000ms;
}

.delay2500 {
    animation-delay: 2500ms;
}

.delay3000 {
    animation-delay: 3000ms;
}





// 动画时间
.time150 {
    animation-duration: 150ms;
}

.time300 {
    animation-duration: 300ms;
}

.time350 {
    animation-duration: 350ms;
}

.time500 {
    animation-duration: 500ms;
}

.time750 {
    animation-duration: 750ms;
}

.time1000 {
    animation-duration: 1000ms;
}

.time1500 {
    animation-duration: 1500ms;
}

.time2000 {
    animation-duration: 2000ms;
}
.time2500 {
    animation-duration: 2500ms;
}

.time3000 {
    animation-duration: 3000ms;
}
.time3500 {
    animation-duration: 3500ms;
}

.time4000 {
    animation-duration: 4000ms;
}
.time4500 {
    animation-duration: 4500ms;
}
.time5000 {
    animation-duration: 5000ms;
}



// 暂停
.paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}